# Dépendances
node_modules/

# Build
dist/
dist-ssr/
*.local

# Android (fichiers générés)
android/.gradle/
android/app/build/
android/build/
android/captures/
android/local.properties
android/app/release/
android/.idea/
*.iml

# Éditeurs
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
